Flask
Flask-Dance
Flask-DebugToolbar
httplib2
idna
itsdangerous
Jinja2
lazy
Mako
MarkupSafe
python-dateutil
python-editor
requests
requests-oauthlib
six
urllib3
URLObject
Werkzeug
wincertstore
WTForms
python-dotenv
pymysql
gunicorn==20.1.0
psycopg2-binary==2.9.1
mysqlclient==2.0.3